# Dependency directories
node_modules/
venv/
.venv/
env/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build folders
dist/
build/
out/

# Environment variables (Sensitive!)
.env
.env.local

# Databases (if using SQLite)
*.sqlite3

# IDEs and Editors
.vscode/
.idea/
.DS_Store